NET "CLK_P" LOC = K15; ## 200MHz
NET "PHY_RSTn" LOC = "L13"; ## 36 on U3
NET "LED<0>" LOC = "E13"; ## 2 on DS11 LED
NET "LED<1>" LOC = "C14"; ## 2 on DS12 LED
NET "LED<2>" LOC = "C4"; ## 2 on DS13 LED
NET "LED<3>" LOC = "A4"; ## 2 on DS14 LED
NET "GMII_GTX_CLK" LOC = "A9"; ## 10 on U3
NET "GMII_TX_CLK" LOC = "B9"; ## 10 on U3
NET "GMII_TX_EN" LOC = "B8"; ## 16 on U3
NET "GMII_TXD<0>" LOC = "F8"; ## 18 on U3
NET "GMII_TXD<1>" LOC = "G8"; ## 19 on U3
NET "GMII_TXD<2>" LOC = "A6"; ## 20 on U3
NET "GMII_TXD<3>" LOC = "B6"; ## 24 on U3
NET "GMII_TXD<4>" LOC = "E6"; ## 25 on U3
NET "GMII_TXD<5>" LOC = "F7"; ## 26 on U3
NET "GMII_TXD<6>" LOC = "A5"; ## 28 on U3
NET "GMII_TXD<7>" LOC = "C5"; ## 29 on U3
NET "GMII_TX_ER" LOC = "A8"; ## 13 on U3
NET "GMII_RX_CLK" LOC = "L16"; ## 7 on U3
NET "GMII_RX_DV" LOC  = "N18"; ## 4 on U3
NET "GMII_RXD<0>" LOC = "M14"; ## 3 on U3
NET "GMII_RXD<1>" LOC = "U18"; ## 128 on U3
NET "GMII_RXD<2>" LOC = "U17"; ## 126 on U3
NET "GMII_RXD<3>" LOC = "T18"; ## 125 on U3
NET "GMII_RXD<4>" LOC = "T17"; ## 124 on U3
NET "GMII_RXD<5>" LOC = "N16"; ## 123 on U3
NET "GMII_RXD<6>" LOC = "N15"; ## 121 on U3
NET "GMII_RXD<7>" LOC = "P18"; ## 120 on U3
NET "GMII_RX_ER" LOC = "P17"; ## 8 on U3
NET "I2C_SDA" LOC = "N10";
NET "I2C_SCL" LOC = "P11";
NET "GPIO_SWITCH_0" LOC = "D14";

NET "CLK_P" TNM_NET = CLK_P;
TIMESPEC TS_CLK_P = PERIOD "CLK_P" 5 ns HIGH 50%;
NET "GMII_RX_CLK" TNM_NET = GMII_RX_CLK;
TIMESPEC TS_GMII_RX_CLK = PERIOD "GMII_RX_CLK" 125 MHz HIGH 50%;
NET "GMII_TX_CLK" TNM_NET = GMII_TX_CLK;
TIMESPEC TS_GMII_TX_CLK = PERIOD "GMII_TX_CLK" 25 MHz HIGH 50%;
TIMESPEC TS_100M_125M = FROM "CLK_100M_int" TO "CLK_125M_int" 3.0 ns;
TIMESPEC TS_125M_100M = FROM "CLK_125M_int" TO "CLK_100M_int" 5.5 ns;
